---
import Layout from "@layouts/Layout.astro";
---
<Layout title="Shop">
  <div class="flex items-center justify-center" style="min-height: 50vh; background: #000;">
    <p class="text-center">
      <a href="/shop" class="text-white underline">Redirecting to Shop →</a>
    </p>
  </div>
</Layout>
<script is:inline>window.location.replace('/shop');</script>
