---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";

---
<style>
  #heroSection {
    background-image: url('../assets/tbc/gal-hh2-1.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    min-height: 65vh;
  }
  @media only screen and (max-width: 1199px) {
    #heroSection {
      min-height: 85vh;
    }
  }
  @media only screen and (max-width: 768px) {
    #heroSection {
      min-height: 120vh;
    }
  }
</style>

<main class="my-4 md:my-8">
  <div id="heroSection" class="mx-auto flex flex-row items-end rounded-3xl">
    
    <div>

      <div id="glass-card" class="max-w-4xl mx-4 my-8">
        <h1 style="heroTagline" class="text-4xl sm:text-5xl md:text-4xl lg:text-6xl xl:text-7xl w-full max-w-6xl font-bold tracking-tight">
          Welcome to the Collective.
        </h1>
        <p class="text-md lg:text-lg mt-4">
          Australian music label for outdoor focused electronic DJ's and producers.
          Helping you stop dancing inside since 2016.   
          <wbr>
        </p>
        <div class="mt-6 flex flex-col sm:flex-row justify-start gap-3">
          <a href="https://theboogiecollective.com/contact" rel="noopener" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white text-black hover:bg-gray-200 border-2 border-transparent flex gap-1 items-center justify-center">
            <svg viewBox="0 0 24 24" class="w-4 h-4">
              <Icon class="text-black" name="ph:chat-teardrop-dots-light" />
            </svg>

            Contact

          </a>
        </div>
      </div>
    </div>
    
  </div>
</main>
