---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";

import GraphicDesign from '../assets/aidxn/trig.svg';
import WebDesign from '../assets/aidxn/sqr.svg';
import Marketing from '../assets/aidxn/poly.svg';
import VideoProd from '../assets/aidxn/hex.svg';


const features = [
  {
    title: "Mood:Blend",
    description:
      "Cairns born, disco and soul insprired bush techno and progressive tech.",
    imgsrc: GraphicDesign,
    imgalt: "The Boogie Collective artist Moodblend",
    link: "/artists",
    style: "primary",
    btntxt: "Artists",
    resultslink: "/contact",
    resultsstyle: "outline",
    resultsbtntxt: "Book",
  },
  {
    title: "Scrub Rat",
    description:
      "Tasmania based breaks and dub artist with some of the best mixing you'll find.",
    imgsrc: WebDesign,
    imgalt: "The Boogie Collective artist scrub rat",
    link: "/artists",
    style: "primary",
    btntxt: "Artists",
    resultslink: "/contact",
    resultsstyle: "outline",
    resultsbtntxt: "Book",
  },
  {
    title: "Lucid Gecko",
    description:
      "Sunshine Coast hinterland inspired morning psytrance, breaks and DnB sounds.",
    imgsrc: Marketing,
    imgalt: "The Boogie Collective artist Lucid Gecko",
    link: "/artists",
    style: "primary",
    btntxt: "Artists",
    resultslink: "/contact",
    resultsstyle: "outline",
    resultsbtntxt: "Book",
  },
  {
    title: "Green Euro",
    description:
      "Warehouse inspired progressive full-on out of the Mid Australian Coast.",
    imgsrc: VideoProd,
    imgalt: "The Boogie Collective artist Green Euro",
    link: "/artists",
    style: "primary",
    btntxt: "Artists",
    resultslink: "/contact",
    resultsstyle: "outline",
    resultsbtntxt: "Book",
  },
  {
    title: "Jiver",
    description:
      "Brisbane based warehouse techno and tech. One of Brisbanes's upcoming artists.",
    imgsrc: VideoProd,
    imgalt: "The Boogie Collective artist Jiver",
    link: "/artists",
    style: "primary",
    btntxt: "Artists",
    resultslink: "/contact",
    resultsstyle: "outline",
    resultsbtntxt: "Book",
  },
  {
    title: "Sassafras",
    description:
      "Brisbane dark techno and deep progressive tech, spinning ruckus always.",
    link: "/artists",
    style: "primary",
    btntxt: "Artists",
    resultslink: "/contact",
    resultsstyle: "outline",
    resultsbtntxt: "Book",
  },
  {
    title: "Nemophilist",
    description:
      "One of the best upcoming deep psytrance artists out of the central coast.",
    link: "/artists",
    style: "primary",
    btntxt: "Artists",
    resultslink: "/contact",
    resultsstyle: "outline",
    resultsbtntxt: "Book",
  },
  {
    title: "D-Lysergic",
    description:
      "Central coast psytrance artist creating great events and sets for over 15 years.",
    imgalt: "The Boogie Collective artist Sassafras",
    link: "/artists",
    style: "primary",
    btntxt: "Artists",
    resultslink: "/contact",
    resultsstyle: "outline",
    resultsbtntxt: "Book",
  },
];
---
<style>
  #heroSection {
    background-image: url('../assets/tbc/uv-banners.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
  }
</style>

<main id="heroSection" class="my-16 md:my-32 md:py-48 rounded-3xl">
  <div class="mb-4 md:mb-8 m-4">
    <div id="glass-card" class="max-w-2xl">
      <h5 class="text-sm lg:text-md text-slate-700 mb-2">
        Artists
      </h5>
      <h3 class="text-2xl md:text-3xl lg:text-5xl mb-4 font-bold lg:tracking-tight">
        Helping you stop dancing inside.
      </h3>
      <div class="">
      <p class="text-md lg:text-lg pr-4 mb-6"> 
        
        Local and nationally touring artists from across the Eastern Australian Coast. We have always focused on electronic music production made for outdoor systems that lets the ear and mind begin to wander.
        We have never aimed for a particular genre, supporting Australian electronic artists with sets that full of fun and soul. Providing artist showcases for festivals and clubs that scale genres.
      </p>
    </div>
    </div>
  </div>

  <div id="gridContainer" class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-4 md:gap-8 m-4">
    {
      features.map((item) => (
        <div class="flex items-start">
          <div id="glass-card" class="card-padding w-full flex flex-col items-start justify-center">
            <div id="textContainer" class="w-full">
              <h2 class="font-semibold text-xl md:text-2xl lg:text-3xl">{item.title}</h2>{" "}
              <p class="text-xs md:text-md mt-4 leading-relaxed">{item.description}</p>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</main>